<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exp_1</title>
    <style>
        div {
            text-align: center;
            margin-top: 70px;
        }
        a {
            color: #49D5C0;
            text-decoration: none;
            font-family: '微软雅黑';
            font-weight: normal;
            font-size: 18px;
        }
        img {
            width: 350px;
        }
    </style>
</head>
<body>
        <div>
                <br />
                <a href='http://www.yendnx.club'>第一个上线的Demo
                  <br />
                  <img src="store.png">
                </a>
                <br />
                <br />
                <br />      
                <a href='https://github.com/XindongYan/bbs.yendax-new-project'>第一代较成熟的NodeJS项目
                  <br />
                  <img src="node.png">
                </a>
                <br />
                <br />
                <br />      
                <a href='https://github.com/XindongYan/R'>租房系统eng_2
                  <br />
                  <img style="width: 330px;" src="R.png">
                </a>
                <br />
                <br />
                <br />      
                <a href='https://github.com/XindongYan/BaiCao'>阅读beta
                  <br />
                  <img style="width: 310px" src="yeudu.png">
                </a>

                <br>
                <br>
                <hr style="border: 0.4px solid rgb(216, 216, 216)">
                <ul style="text-align: center; padding: 0px;">
                    <a style="font-size:10px" href="http://www.miitbeian.gov.cn/">京ICP备9104539号</a>
                </ul>
            </div>
</body>
</html>