<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            margin: 0px;
            padding: 0px;
        }
        h1 {
            font-size: 30px;
            text-align: center;
        }
        a {
            text-decoration: none;
            color: #43B9E3;
        }
        ul {
            text-align: center;
            padding: 0px;
            color: #ccc;
        }
        img {
            height: 400px;
        }
    </style>
</head>
<body>
    <div>
        <br />
        <br />
        <h1>跨越你的跨越</h1>
        <br />
        <!-- <div style="width: 360px; overflow: hidden;margin: 0 auto"><img src="logo.png" alt=""></div>  -->
        <video style="background: #060000" width="400px" height="440" controls="controls" autoplay="autoplay">
                <source src="kaxini.mp4" type="video/mp4" />
                <source src="kaxini.ogg" type="video/ogg" />
                <source src="kaxini.webm" type="video/webm" />
                <object data="movie.mp4" width="400px" height="440">
                  <embed src="kaxini.swf" width="400px" height="440" />
                </object>
              </video>
        <br />
        <br />
        <ul>
            <a href="/Exp_1">个人简介</a> / <a href="Exp_2">联系方式</a>
        </ul>
    </div>
</body>
</html>